@import url('amulya.css');

* {
    /* box-sizing: border-box; */
    padding: 0;
    margin: 0;
    line-height: 1.5;
    font-family: 'Amulya-Regular', Courier, monospace;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

.wrapper > * {
  outline: 1px red solid;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-columns: minmax(220px, 1fr) 4fr;
  grid-template-rows: 1fr 4fr;
}

nav {
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;

  padding: 1rem 2.2rem;
}

nav > * {
  outline: 1px purple solid;
}

main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

aside {
  grid-column: 1 / 2;
  grid-row: 1 / 3;

  padding-left: 1.3rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-top: 1rem;
}

.tab {
  display: flex;
  align-items: center;
  gap: 0.9rem;
  padding: 0.6rem 0;
}

.search {
  display: flex;
  gap: 0.9rem;
  align-items: center;

  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.search input {
  width: 70%;
  border-radius: 15px;
  border: none;
  background-color: rgb(212, 212, 212);
}

.profile-section {
  display: flex;
  gap: 1.5rem;
  align-items: center;

  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.profile-info {
  display: flex;
  gap: 25px;
  align-items: center;

  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.project-buttons {
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}