@import url('amulya.css');

:root {
  --main-blue: #1992d4;
  --main-yellow: #f0b42a;
  --main-gray: #969696;
  --main-white: #fbfdfe;
  --main-offwhite: #e3e8f0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1.5;
  font-family: 'Amulya-Regular', Courier, monospace;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

.wrapper > * {
  outline: 1px red solid;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-columns: minmax(220px, 0.9fr) 4fr;
  grid-template-rows: min-content 4fr;
}

nav {
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;

  padding: 1rem 2.2rem;
  height: 150px;
  background-color: var(--main-white);
}

nav > * {
  outline: 1px purple solid;
}

main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  padding: 1rem 2.2rem 2.5rem 2.2rem;
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr;
  grid-template-rows: repeat(auto-fit, 1fr);

  background-color: var(--main-offwhite);
}

main p {
  color: var(--main-gray);
}

main > * {
  outline: 1px green solid;
}

aside {
  grid-column: 1 / 2;
  grid-row: 1 / 3;

  padding-left: 1.3rem;
  background-color: var(--main-blue);
  color: var(--main-white);
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-top: 1rem;
}

.tab {
  display: flex;
  align-items: center;
  gap: 0.9rem;
  padding: 0.6rem 0;
}

.search {
  display: flex;
  gap: 0.9rem;
  align-items: center;

  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.search input {
  width: 70%;
  border-radius: 15px;
  border: none;
  background-color: var(--main-offwhite);
}

.profile-section {
  display: flex;
  gap: 1.5rem;
  align-items: center;

  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.profile-section h3 {
  font-size: 1em;
}

.profile-info {
  display: flex;
  gap: 2rem;
  align-items: center;

  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.project-buttons {
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.announcements {
  display: grid;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  padding: 1.7rem;
  gap: 1rem;
}

.announcements h3, 
.announcements h4 {
  font-weight: 900;
  font-size: 1.05em;
}

.announce-info {
  font-size: 14px;
  padding-bottom: 1rem; /*This pushes down a site so it has scrollbar*/
}

.announce-info:last-child {
  padding-bottom: 0;
}

.trending {
  display: grid;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  padding: 1.5rem;
  gap: 1rem;
}

.projects {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  padding: 1.5rem;
}

.project-tile {
  background-color: var(--main-white);
}

.trending-tile {
  display: flex;
  align-items: center;
  gap: 0.9rem;
  font-size: 0.93em;
}

.announce-info:nth-child(-n + 3) {
  border-bottom: 1px solid gray;
}