@import url('amulya.css');

:root {
  --main-blue: #1992d4;
  --main-yellow: #f0b42a;
  --main-gray: #969696;
  --main-white: #fbfdfe;
  --main-offwhite: #e3e8f0;
  font-size: 15px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1.5;
  font-family: 'Amulya-Regular', Courier, monospace;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(220px, 0.9fr) 4fr;
  grid-template-rows: minmax(160px, auto) 4fr;
}



nav {
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;

  padding: 1rem 2.2rem;
  /* height: 150px; */
  background-color: var(--main-white);
  gap: 1.2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

  position: relative;
  z-index: 1;
  
}

main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  padding: 1rem 2.2rem 0rem 2.2rem;
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1.2fr;
  grid-template-rows: repeat(auto-fit, 1fr);
  justify-content: center;
  align-content: center;

  background-color: var(--main-offwhite);
}

main p {
  color: var(--main-gray);
}

aside {
  grid-column: 1 / 2;
  grid-row: 1 / 3;

  padding-left: 1.3rem;
  background-color: var(--main-blue);
  color: var(--main-white);
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-top: 1rem;
}

.tab {
  display: flex;
  align-items: center;
  gap: 0.9rem;
  padding: 0.6rem 0;
}

.search {
  display: flex;
  gap: 0.9rem;
  align-items: center;

  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.search input {
  width: 90%;
  border-radius: 15px;
  border: none;
  background-color: var(--main-offwhite);
}

.profile-section {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: end;
  padding-right: 2rem;

  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.profile-section img[src="images/Vaporewave Logo.png"] {
  width: 40px;
  border-radius: 100px;
}

.profile-section h3 {
  font-size: 1.1em;
  font-family: 'Amulya-Bold', Courier, monospace;
}

.profile-info {
  display: flex;
  gap: 2rem;
  align-items: center;

  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.profile-info-wrapper {
  font-family: 'Amulya-Bold', Courier, monospace;
  font-weight: 900;
}

.profile-info img[src="images/Vaporewave Logo.png"] {
  width: 64px;
  border-radius: 100px;
}

.project-buttons {
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.project-buttons button {
  padding: 0.5rem 1.2rem;
  background-color: var(--main-blue);
  color: var(--main-white);
  border-radius: 25px;
  border-style: none;
  flex: 1;
}

.project-buttons button:hover {
  background-color: #157ab1;
  font-size: 1.1rem;
}


.announcements {
  display: grid;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  padding: 1.5rem;
  gap: 0.9rem;
}

.announce-wrapper {
  background-color: var(--main-white);
  border-radius: 10px;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

.announcements h3, 
.announcements h4 {
  font-weight: 900;
  font-size: 1.05em;
}

.announce-info {
  font-size: 14px;
  /*padding-bottom: 1rem; /*This pushes down a site so it has scrollbar*/
}

.announce-info:last-child {
  padding-bottom: 0;
}

.announce-info:nth-child(-n + 2) {
  border-bottom: 1px solid gray;
}

.trending {
  display: grid;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  padding: 1.5rem;
  gap: 0.9rem;

}

.trending-wrapper {
  background-color: var(--main-white);
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.trending img {
  width: 50px;
  height: 50px;
  border-radius: 100px;
}

.projects {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  padding: 1.1rem;
}

.projects h3 {
  padding-bottom: 0.8rem;
}

.project-tile {
  background-color: var(--main-white);
  border-radius: 12px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  border-left: 8px solid var(--main-yellow);
}

.trending-tile {
  display: flex;
  align-items: center;
  gap: 0.9rem;
  font-size: 0.93em;
}

aside img[src$=".svg"] {
    filter: brightness(0) invert(1);
}

.btns-wrapper button {
  border-style: none;
  background-color: var(--main-white);

}

.btns-wrapper button:hover {
  border: 1px solid gray;
  border-radius: 10px;
}

.btns-wrapper > button:nth-of-type(1) {
  background-image: url(/svgs/star-plus-outline.svg);
  width: 28px;
  height: 28px;
}

.btns-wrapper > button:nth-of-type(2) {
  background-image: url(/svgs/eye-plus-outline.svg);
  width: 28px;
  height: 28px;
}

.btns-wrapper > button:nth-of-type(3) {
  background-image: url(/svgs/share-variant-outline.svg);
  width: 28px;
  height: 28px;
}

.btns-wrapper {
  display: flex;
  width: 100%;
  justify-content: end;
  gap: 1rem;
  padding-top: 2rem;
}

.project-text-wrapper {
  flex: 1;
}

.projects-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-template-rows: repeat(3, 1fr);
}